




:root{
    --bg-main: #868686;
    --bg-second: #D4D4D4;
    --bg-third: #F5F5F5;
    --coler-white: #ffffff;
    --bg-btn: #4E4B4B;
    --bg-btn-0: #FBEBB5;
    --bg-btn-1: #FFF9E5;
    --color-black: #000000;
}



.active-brad{
    color: var(--color-black);
}
.desabled-brad{
    color: var(--bg-main);
}


.header{
    padding: 0 25px 0 100px;
    background-color: var(--bg-main);
    /* gap: 30px; */
}
.header-rm-btn button{
    width: 40px ;
    height: 40px;
    font-size: 30px;
    color: #9F9F9F;
    background: none;
    border: none;
    cursor: pointer;
}
.header-cnt{
    width: calc(100vw - 200px);
    height: 80px;
}

.calus-cnt, .mailus-cnt{
    gap: 5px;
}

.call-num p, .mailus-mail p{
    margin: 2px 0;
    color: var(--coler-white);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

.bcum-selr-btn-cnt input[type="button"]{
    width: 200px;
    height: 50px;
    color: var(--coler-white);
    background-color: var(--bg-btn) ;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.bcum-selr-btn-cnt input[type="button"]:hover{
    background-color: var(--coler-white);
    color: var(--bg-btn);
}

.navbar{
    width: calc(100vw - 200px);
    height: 100px;
    padding: 0 100px;
    background-color: var(--bg-second);
    position: sticky;
    top: 0px;
    z-index: 10;
}

.nav-logo img{
    width: 200px;
    height: 60px;
}


.nav-list{
    gap: 40px;

}

.nav-list-item a{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300S;
}

.nav-item-list{
    gap: 30px;
}



/* Home Component */


.h-poster{
    width: 100vw;
    /* height: 800px; */
    height: 645px;
    background: var(--bg-second);
}
.h-po-content{
    flex-direction: column;
    gap: 5px;
}

.h-po-content h1{
    color: var(--color-black);   
    text-align: center;
    font-size: 64px;
    font-family: "Poppins", sans-serif;
}
.h-po-content h1 span{
    color: var(--coler-white);
}
.h-po-content p{
    color: var(--color-black);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins", sans-serif; 
}

.h-po-content input[type="button"]{
    margin-top: 20px;
    width: 190px;
    height: 60px;
    color: var(--coler-white);
    background-color: var(--bg-main);
    outline: none;
    border: none;
    font-size: 24px;
    cursor: pointer;

}

.h-po-img img{
    width: 535px;
    height: 535px;
}


.h-poster-01{
    height: 675px;
    background-color: var(--bg-third);
}


.lubricant-cnt img{
    width: 519px;
    height: 375px;
}
.s-part-cnt img{
    width: 375px;
    height: 375px;
}

.lubricant-cnt h3, .s-part-cnt h3{
    margin: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

.lubricant-cnt input[type="button"],
.s-part-cnt input[type="button"]{
    padding: 5px 0;
    color: var(--color-black);
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-black);
    font-size: 24px;
    cursor: pointer;
}

.h-poster-02{
    width: 100vw;
    height: 645px;
    background-color: var(--coler-white);
}

.h-poster-02 h1{
    margin: 40px 0 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    color: var(--color-black);
}
.h-poster-02 h5{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #9F9F9F;

}


.top-pick-cnt{
    margin: 50px 0 30px;
    gap: 10px;
}

.product-card{
    width: 250px;
    /* height: 396px; */
    padding: 15px ;
    background-color: var(--coler-white);
    cursor: pointer;
}
.product-card img{
    width: 250px;
    height: 250px;
}
.product-card p{
    margin-left: 10px;
    margin-bottom: 5px;
    color: var(--color-black);
    font-size: 16px ;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
}
.product-card h3{
    margin-left: 10px;
    margin-top: 10px;
    color: var(--color-black);
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}

.h-poster-02 input[type="button"]{
    padding: 5px 0;
    color: var(--color-black);
    background: none;
    border: none;
    border-bottom: 1px solid var(--color-black);
    font-size: 24px;
    cursor: pointer;
}


.h-poster-03{
    width: 100vw;
    height: 645px;
    background-color: #A5A5A5;
}

.h-po-3-img img{
    width: 945px;
}

.h-po-3-con{
    margin-right: 100px;
    flex-direction: column;
    gap: 5px;
}

.h-po-3-con p{
    color: var(--color-black);
    font-size: 24px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.h-po-3-con h1{
    color: var(--color-black);
    font-size: 48px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.h-po-3-con input{
    margin-top: 20px;
    width: 190px;
    height: 60px;
    font-size: 24px;
    background-color: var(--bg-second);
    border: none;
    outline: none;
    cursor: pointer;
}

.h-poster-04{
    width: 100vw;
    height: 500px;
    background-image: url(./img/dodge.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.h-po-4-con{
    width: 100vw;
    height: 100%;
    flex-direction: column;
    gap: 10px;
    background: #ffffff70;
    backdrop-filter: blur(10px);
}

.h-po-4-con h1{
    font-size: 60px;
    font-weight: bold;
    color: var(--color-black);
}
.h-po-4-con p{
    font-size: 20px;
    color: var(--color-black);
}

.h-po-4-con input{
    width: 255px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    box-shadow: #00000068 0px 0px 10px, #0000005a 0px 0px 10px;
    background: var(--bg-third);
    cursor: pointer;
}



/* Footer */

.footer{
    width: 100vw;
    border-top: 1px solid var(--bg-second);
    
}

.foot-main{
    margin: 70px 0;
    gap: 100px;
}

.foot-logo img{
    width: 300px;
}

.foot-items{
    gap: 100px;
}
.foot-links ul, .foot-help ul{
    justify-content: left;
    gap: 40px;
    flex-direction: column;
}

.foot-link-title{
    color: var(--bg-main);
}
.foot-link a{
    color: var(--color-black);
    font-size: 20px;
}

.foot-newslatter p{
    margin-bottom: 40px;
}

.foot-newslatter form{
    gap: 10px;
}

.foot-newslatter form input{
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color-black);
    font-size: 20px;
    padding-bottom: 3px;
}

.foot-newslatter form input[type="email"]::placeholder{
   font-size: 18px; 
}
.foot-newslatter form input[type="submit"]{
    cursor: pointer;
}


.foot-copyright{
    height: 100px;
    border-top: 1px solid var(--bg-second);
}



/* Shop component */

.filter-bar{
    padding: 0 40px;
    width: calc(100vw - 80px);
    height: 80px;
    background-color: var(--bg-second);
    border-top: 1px solid var(--bg-third);
}

.filter-cnt{
    gap: 20px;
}

.filter, .view-type{
    gap: 10px;
    cursor: pointer;
}

.filter-cnt span{
    width: 2px;
    height: 35px;
    background-color: #9F9F9F;
}
.filter-cnt P{
    font-size: 16PX;

}

.short-cnt {
    gap: 15px;
}
.short-cnt p{
    font-size: 20px;
    color: var(--color-black);
}
.short-cnt button{
    width: 190px;
    height: 50px;
    background-color: var(--bg-third);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: var(--bg-main);

}


/* product Container */

.products-cnt{
    padding: 40px 0;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    background-color: var(--bg-third);
}

.shop-product-card{
    width: 250px;
    /* height: 396px; */
    padding: 15px ;
    background-color: var(--coler-white);
    cursor: pointer;
    box-shadow: #0000007d 5px 5px 10px, #00000089 -5px -5px 10px;
    
}


.page-navi-cnt{
    width: 100vw;
    height: 100px;
    gap: 15px 30px;
    background-color: var(--bg-third);
}

.num-btn{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: var(--color-black);
    background-color: var(--bg-btn-0);
    font-size: 20px;
    cursor: pointer;
}

.p-n-btn{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: var(--color-black);
    background-color: var(--bg-btn-1);
    font-size: 20px;
    cursor: pointer;
}

.num-btn:hover, .p-n-btn:hover{
    background-color: var(--bg-btn-0);
}



/* Single Product Component */


.single-product-cnt{
    padding: 50px 0;
    background-color: var(--bg-third);
    gap: 100px;
    border-bottom: 1px solid var(--bg-second);
}

.si-pro-dtl-cnt{
    width: 40%;
}
.si-pro-img-cnt{
    gap: 30px;
}
.main-pro-img{
    width: 425px;
    height: 500px;
    border-radius: 10px;
    background-color: var(--coler-white);
    overflow: hidden;
}
.main-pro-img img{
    width: 425px;
    cursor: zoom-in;
}

.other-pro-imgs{
    gap: 30px;
    flex-direction: column;
}
.other-pro-imgs div {
    width: 80px;
    height: 80px;
    background-color: var(--bg-third);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.other-pro-imgs div img{
    width: 80px ;
    height: 80px;
}

.prod-name{
    font-size: 45px;
    color: var(--color-black);
    margin-bottom: 10px;
}
.brand-name{
    font-size: 35px;
    color: var(--bg-btn);
    margin-bottom: 10px;
}
.prod-price{
    font-size: 24px;
    color: var(--bg-main);
    margin-bottom: 10px;
}

.shope-review{
    gap: 15px;
    margin-bottom: 15px;
}
.shope-review span{
    width: 2px ;
    height: 25px;
    background-color: var(--bg-second);
}

.prod-shop-name{
    color: var(--color-black);
    font-size: 16px;

}
.prod-costumer-review{
    color: var(--bg-main);
    font-size: 16px;
}

.prod-short-des{
    margin-bottom: 15px;
    font-size: 15px ;
    color: var(--bg-btn);
}

.size-selection{
    margin-bottom: 20px;
}
.size-selection p {
    font-size: 14px;
    color: var(--bg-main);
    margin-bottom: 5px;
}
.size-btn-grup {
    gap: 10px;
}
.size-btn-grup input{
    width: 30px;
    height: 30px;
    font-size: 14px;
}


.cart-in-lable{
    padding: 0 10px;
    /* width: 125px; */
    height: 50px;
    border: 1px solid var(--bg-main);
    border-radius: 10px;
    gap: 5px;
}
.cart-in-lable input{
    border: none;
    background: none;
    color: var(--color-black);
    font-size: 16px;
    text-align: center;
}

.cart-in-lable input[type="number"]{
    width: 60px;
    outline: none;
}
.cart-in-lable input[type="button"]{
    width: 25px;
    cursor: pointer;
}

.add-to-cart-cnt{
    gap: 40px;
    margin-bottom: 40px;
}

.add-to-cart-cnt button{
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
}

.h-line{
    margin-bottom: 30px;
    width: 100%;
    height: 1px;
    background-color: #d0cdcd;
}

.sub-dtls div{
    margin: 5px 0;
    font-size: 14px ;
    color: var(--bg-main);
}

.sub-dtls div p{
    width: 80px;
}
.sub-dtls div i{
    margin-left: 5px;
    gap: 10px;
}

.sub-dtls div i svg{
    cursor: pointer;
}

.product-description{
    padding: 40px 0;
    background-color: var(--bg-third);
}


.des-t-bar ul {
    gap: 50px;
}
.des-t-bar ul li {
    font-size: 20px;
    cursor: pointer;
}



.breaf-des{
    flex-direction: column;
    margin: 40px;
    gap: 40px;
}
.breaf-des p{
    width: 900px;
    line-height: 25px;
    color: var(--bg-main);
    font-size: 16px;
    
}

.des-images{
    gap: 40px;
}

.des-images div{
    padding: 15px 0;
    width: 600px;
    height: 310px;
    background-color: var(--coler-white);
    border-radius: 10px;
    
    cursor: zoom-in;
}
.des-images div img{
    width: 300px;
    height: 300px;
}




/* Seller SignUp Component */

.seller-signup-cnt, .seller-signin-cnt{
    padding: 30px 0;
    height: 600px;
    flex-direction: column;
}
.seller-signup-cnt h1, .seller-signin-cnt h1{
    margin-bottom: 50px;
    text-align: center;
    color: var(--color-black);
    font-size: 45px;
}
.seller-signup-cnt h2{
    text-align: center;
    color: var(--bg-main);
    font-size: 30px;
}



.seller-signup-form {
    padding: 30px ;
    /* width: 700px; */
    flex-direction: column;
    gap: 20px ;
    border: 1px solid var(--bg-main);
    border-radius: 10px;
}

.input-feild-row{
    width: 100%;
    gap: 20px;
}

.input-feild-row input{
    width: calc(300px - 30px);
    height: 40px;
    padding: 0 15px;
    background: var(--coler-white);
    outline: none;
    border: 1px solid var(--bg-main);
    font-size: 20px;
    color: var(--bg-btn);

}

.input-feild-row input[type="checkbox"]{
    width: unset;
    height: unset;
}

.input-feild-row p{
    color: #4E4B4B;
    font-size: 16px;
}
.input-feild-row p span{
    color: skyblue;
    border-bottom:1px solid skyblue;
    cursor: pointer;
}

.input-feild-row input[type='submit']{
    width: 100%;
    height: 40px;
    background-color: var(--bg-btn-0);
    border: 3px solid var(--bg-btn-0);
    color: var(--bg-btn);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.input-feild-row input[type='submit']:hover{
    background-color: var(--bg-btn);
    color: var(--bg-btn-0);
}

.input-feild-row input[id="sellerAddress"]{
    width: calc(100% - 30px);
}


/* Seller Sign in  */


.seller-signin-form {
    padding:   30px;
    /* width: 700px; */
    flex-direction: column;
    gap: 20px ;
    border: 1px solid var(--bg-main);
    border-radius: 10px;
}
.seller-signin-form h2{
    color: var(--bg-main);
    margin-bottom: 30px;
}
.text-input-feild{
    width: 300px;
    gap: 30px;
}

.text-input-feild input{
    width: calc(100% - 30px);
    border: 1px solid var(--bg-btn);
    outline: none;
    background: none;
    height: 30px;
    padding: 0 15px;
    font-size: 16px;
}


.text-input-feild p{
    font-size: 14px;
    color: var(--bg-btn);
}
.text-input-feild input[type="checkbox"]{
    width: unset;
    height: unset;
    padding: unset;
}


.text-input-feild input[type="submit"]{
    width: 100%;
    background-color: var(--bg-btn-0);
    border: 3px solid var(--bg-btn-0);
    color: var(--bg-btn);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


.text-input-feild input[type="submit"]:hover{
    background-color: var(--bg-btn);
    color: var(--bg-btn-0);
}


.seller-dash-cnt{
    width: 100vw;
    height: calc(100vh - 100px);
}

.seller-pro-cnt{
    width: calc(300px - 40px);
    height: calc(100% - 60px);
    padding: 30px 20px;
    border-right: 1px solid var(--bg-second);
}

.seller-pro-cnt h1{
    margin-bottom: 30px;
    text-align: center;
    font-size: 45px;
    color: var(--bg-btn);
}

.seller-pro-cnt h2{
    font-size: 30px;
    color: var(--bg-main);
}

.seller-pro-cnt p{
    margin: 10px 0 5px;
    font-size: 16px;
    color: var(--bg-main);
}

.seller-pro-cnt h3{
    font-size: 20px;
    color: var(--bg-btn);
}


.seller-product-cnt{
    width: calc(100vw - 220px);
    overflow-y: scroll;
}
.seller-product-cnt::-webkit-scrollbar{
    display: none;
}


.row{
    padding: 20px 30px;
    border-bottom: 1px solid var(--bg-second);
    gap: 30px;
}

.row h1{
    font-size: 35px;
}

.row img {
    width: 80px;
    height: 80px;
    padding: 10px;
    border: 1px solid var(--bg-second);
    border-radius: 5px;
    cursor: pointer;
}


.add-product{
    gap: 30px;
    flex-wrap: wrap;
}

.add-product input{
    width: 250px;
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
}
.add-product input[type="number"]::-webkit-inner-spin-button, .add-product input[type="number"]::-webkit-outer-spin-button{
  appearance: none;
  margin: 0;
}

.add-product input[type="submit"], .row button{
    width: 150px;
    height: 30px;
    font-size: 16px;
    outline: none;
    background-color: var(--bg-btn-0);
    border: 2px solid var(--bg-btn-0);
    color: var(--bg-btn);
    cursor: pointer;
}
.add-product input[type="submit"]:hover, .row button:hover{
    background-color: var(--bg-btn);
    color: var(--bg-btn-0);
}



